/* custom file upload button */
#myFile {
  display: none;
}

.fileBox label {
  width: 100%;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  background-color: #155fcd;
  padding: 15px 50px;
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: 1.5px;
  user-select: none;
  cursor: pointer;
  box-shadow: 5px 15px 24px rgba(0, 0, 0, 0.25);
}

.fileBox label:active {
  transform: scale(0.9);
}

.image-btn {
  position: relative;
}

.image-btn button {
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 50%;
}
